@import url("components/cards.css");
@import url("components/titles.css");

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.profile_round {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.movie_rectangular {
  height: 500px;
  width: 400px;
}





.link_social > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}



#link_button {
  margin: 20px auto;
}

.title_big {
  font-size: 45px;
  margin-top: -20px;

}

a {
  color: #FED766;
  text-decoration: none;
  margin: 20px auto;
}

a:hover {
  color: #FFBF00;
  text-decoration: underline;
  font-weight: bold;
}

div {
  color: #FED766;
}

body {
  background-color: #fcfaf1;
  font-family: 'Montserrat', sans-serif;
  text-align: center
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 80px;
}

li {
  font-size: 45px;
}

p {
  font-size: 21px;
}

/*font-family: 'Dancing Script', cursive;*/
/*font-family: 'Montserrat', sans-serif;*/
