@import url("components/cards.css");
@import url("components/titles.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("Components/NavBar.css");


.link_social > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

div {
  color: #FED766;
}

body {
  background-color: #fcfaf1;
  font-family: 'Montserrat', sans-serif;
}

.big-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 80px;
}

li .link_social{
  font-size: 45px;
}

p {
  font-size: 21px;
}

@media only screen and (max-width: 940px) {
  .link_social > li {
  padding: 0px;
  }
  ul .link_social{
    padding-inline-start: 0px;

  }
  a {
    font-size: 25px;
    color: #FED766;
  }