<<<<<<< HEAD:CSS/style.css
@import url("components/cards.css");
@import url("components/titles.css");
@import url("components/avatar.css");
@import url("components/button.css");

=======
.profile_round {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.movie_rectangular {
  height: 500px;
  width: 400px;
}

.container {
  width: 1500px;
  margin: 0px auto;
}

.card {
  background-color: #343434;
  width: 1000px;
  margin: 20px auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px grey;
}
>>>>>>> parent of 2a57599... box-models:style.css

.link_social > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

<<<<<<< HEAD:CSS/style.css
=======
.title_medium {
  font-size: 35px;
  font-weight : bold;
  font-style: italic;
}

.movie_title{
  margin-bottom: 110px;
  font-size: 35px;
  font-weight : bold;
  font-style: italic;
}

#link_button {
  margin: 20px auto;
}

.title_big {
  font-size: 45px;
  margin-top: -20px;

}

>>>>>>> parent of 2a57599... box-models:style.css
a {
  color: #FED766;
  text-decoration: none;
  margin: 20px auto;
}

a:hover {
  color: #FFBF00;
  text-decoration: underline;
  font-weight: bold;
}

div {
  color: #FED766;
}

body {
  background-color: #fcfaf1;
  font-family: 'Montserrat', sans-serif;
  text-align: center
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 80px;
}

li {
  font-size: 45px;
}

p {
  font-size: 21px;
}

/*font-family: 'Dancing Script', cursive;*/
/*font-family: 'Montserrat', sans-serif;*/
