.avatar-lg {
  height: 300px;
  width: auto;
  border-radius: 150px;
  filter: grayscale(80%);
  transition: all .2s ease-in-out;
}

.avatar-lg:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

@media only screen and (max-width: 940px) {
  .avatar-lg {
    height: 25vh;
  width: auto;
  }
}
