.avatar-lg {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  filter: grayscale(80%);
  transition: all .2s ease-in-out;
}

.avatar-lg:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}
