.container {
  width: 80%;
}

.card {
  background-color: #343434;
  width: 70vw;
  /* margin: 20px auto; */
  padding: 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px grey;
}

.movie_rectangular {
  height: 50vh;
  width: auto;
}

.card-movie {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.card-movie p {
  padding: 0px 30px;
  word-wrap: break-word;
}

.card-movie img {
  margin: 0;
  width: 528px;
  height: 140vh;
}

@media only screen and (max-width: 940px) {
  .card-movie {
    flex-direction: column;
  }
  .card-movie img {
    margin: 0;
    width: auto;
    height: 80vh;
  }
  .card {
    padding: 30px;
  }
}
